* {
    text-decoration:none;
    margin:0px;
    padding:0px;
}

body {
    background-color: #ffffff;
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI';
    transition: background-color 0.5s ease;
}

.wrapper {
    width:1000px;
    margin:auto;
    position:relative;
}

.logo a {
    font-size: 40px;
    font-weight: 400px;
    float:left;
    font-family: Verdana;
    color:rgb(154, 34, 179);
}

.menu {
    float:right;
}

.menu button {
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
.menu button.tombol-terang{
    display: none;
    background-color: #ddd;
}
.menu button.tombol-gelap{
    background-color: #666;
    color:#fff;
}

/*efek gelap*/
body.gelap{
    background-color: rgb(59, 58, 58);
    color:#ddd;
}
.gelap .menu{
    color:rgb(255, 255, 255);
}
.gelap .menu button.tombol-terang{
    display: inline;
}
.gelap .menu button.tombol-gelap{
    display: none;
}
.gelap .nav{
    background-color: #000;
    color: #ddd;
}


nav {
    background: rgba(255, 255, 255, 0.692);
    width:100%;
    margin:auto;
    display:flex;
    line-height: 80px;
    position:sticky;
    position:-webkit-sticky;
    top:0;
    z-index: 1;
    border-bottom: 2px solid black;
    
}

nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}

nav ul li {
    float:left;
}

nav ul li a {
    font-weight: bold;
    text-align: center;
    padding: 0px 21px 0px 21px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}    

section{
    margin:auto;
    display:flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size:18px;
    font-weight: bold;
    font-family: 'Verdana';
}

h2{
    font-family: 'Verdana';
    font-weight: 800px;
    font-size: 40px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 50px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.product-list{
    width:"100%";
    position:"relative";
    display:flex;
    flex-wrap:wrap;
}

.product-card{
    width: 20%;
    margin: 0 auto;
}

.product-card img{
    width:"80%";
}

.product-card p{
    font-family: 'Lucida Sans';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

#contact{
    background:rgba(131, 122, 131, 0.877);
    padding: 20px 0px 50px 0px;

}

.footer{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width:20%;
    margin: 0 auto;

}

h3{
    font-family: 'Lucida sans';
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 18px;

    width: 100%;
    line-height: 50px;
}

.tombol {
    float:center;}